extends templates/layout
include mixins/pcttd
block content
    table.chances
        tr
            td.head= 'Chance'
            td.head= 'Away Team'
            td.head= 'Date'
            td.head= 'Home Team'
            td.head= 'Chance'
        tr
            +pcttd(Number(game.awayPredictorChance))
            td.team(style='background-color:' + game.awayTeam.color2)
                a(href='/teams/' + game.awayTeam.id)
                    img(src='../img/' + game.awayTeam.abbreviation.toLowerCase() + '.svg')
            td.date= String(game.startDateTime).substring(0, 24)
            td.team(style='background-color:' + game.homeTeam.color1)
                a(href='/teams/' + game.homeTeam.id)
                    img(src='../img/' + game.homeTeam.abbreviation.toLowerCase() + '.svg')
            +pcttd(Number(game.homePredictorChance))
    table.chances
        tr
            td(colspan=6).head= 'Probabilities w/ Away Victory'
            td(colspan=2).head= ''
            td(colspan=6).head= 'Probabilities w/ Home Victory'
        tr
            td.head= 'Super Bowl Winner'
            td.head= 'Conference Winner'
            td.head= 'Division Winner'
            td.head= 'Conference Leader'
            td.head= 'Division Leader'
            td.head= 'Playoffs'
            td(colspan=2).head= 'Team'
            td.head= 'Playoffs'
            td.head= 'Division Leader'
            td.head= 'Conference Leader'
            td.head= 'Division Winner'
            td.head= 'Conference Winner'
            td.head= 'Super Bowl Winner'
        each chance in chances
            tr
                +pcttd(Number(chance.awayWinSuperBowl))
                +pcttd(Number(chance.awayMakeSuperBowl))
                +pcttd(Number(chance.awayMakeConference))
                +pcttd(Number(chance.awaySeed1))
                +pcttd(Number(chance.awaySeed4))
                +pcttd(Number(chance.awaySeed7))
                td.team(style='background-color:' + chance.team.color1)
                    img(src='../img/' + chance.team.abbreviation.toLowerCase() + '.svg')
                td.team(style='background-color:' + chance.team.color1)
                    a(href='/teams/' + chance.team.id)= chance.team.name
                +pcttd(Number(chance.homeSeed7))
                +pcttd(Number(chance.homeSeed4))
                +pcttd(Number(chance.homeSeed1))
                +pcttd(Number(chance.homeMakeConference))
                +pcttd(Number(chance.homeMakeSuperBowl))
                +pcttd(Number(chance.homeWinSuperBowl))
