extends templates/layout
include mixins/pcttd
block content
    table.infobox
        tr
            td.team(rowspan=15, style='background-color:' + team.color1)
                img.team-logo(src='../../img/' + team.abbreviation.toLowerCase() + '.png')
                span
                    span= team.name
                    span.conference
                        img(src='../../img/' + (team.division.conferenceId == 7 ? 'nfc' : 'afc') + '.svg')
                    span= team.division.name.substring(4, 9)
            td.head= 'Record'
            td.rec= team.record
        tr
            td.head= 'Elo'
            td.rec= team.elo
        tr
            td(colspan=2).head= 'Seeding Probabilities'
        tr
            td.head= 'Make Playoffs'
            +pcttd(Number(team.simPlayoffChance))
        tr
            td.head= 'Lead Division'
            +pcttd(Number(team.simDivLeaderChance))
        tr
            td.head= 'Lead Conference'
            +pcttd(Number(team.simConfLeaderChance))
        tr
            td(colspan=2).head= 'Hosting Probabilities'
        tr
            td.head= 'Host Wild Card Game'
            +pcttd(Number(team.simDivLeaderChance))
        tr
            td.head= 'Host Division Round Game'
            +pcttd(Number(team.simHostDivChance))
        tr
            td.head= 'Host Conference Championship'
            +pcttd(Number(team.simHostConfChance))
        tr
            td(colspan=2).head= 'Playoff Probabilities'
        tr
            td.head= 'Make Division Round'
            +pcttd(Number(team.simMakeDivChance))
        tr
            td.head= 'Win Division Game'
            +pcttd(Number(team.simWinDivChance))
        tr
            td.head= 'Win Conference Championship'
            +pcttd(Number(team.simWinConfChance))
        tr
            td.head= 'Win Super Bowl'
            +pcttd(Number(team.simWinSuperBowlChance))
    table.chances
        tr
            td(colspan=8).head= 'Probabilities w/ Away Victory'
            td.head= ''
            td(colspan=8).head= 'Probabilities w/ Home Victory'
        tr
            td.head= 'Super Bowl Winner'
            td.head= 'Conference Winner'
            td.head= 'Division Winner'
            td.head= 'Make Division Rnd'
            td.head= 'Conference Leader'
            td.head= 'Division Leader'
            td.head= 'Playoffs'
            td.head= 'Team'
            td.head= 'Date'
            td.head= 'Team'
            td.head= 'Playoffs'
            td.head= 'Division Leader'
            td.head= 'Conference Leader'
            td.head= 'Make Division Rnd'
            td.head= 'Division Winner'
            td.head= 'Conference Winner'
            td.head= 'Super Bowl Winner'
        each chance in chances
            tr
                +pcttd(Number(chance.superBowlWinnerChanceWithAwayWin))
                +pcttd(Number(chance.confWinnerChanceWithAwayWin))
                +pcttd(Number(chance.divWinnerChanceWithAwayWin))
                +pcttd(Number(chance.makeDivChanceWithAwayWin))
                +pcttd(Number(chance.confLeaderChanceWithAwayWin))
                +pcttd(Number(chance.divLeaderChanceWithAwayWin))
                +pcttd(Number(chance.playoffChanceWithAwayWin))
                td.team(style='background-color:' + chance.game.awayTeam.color2)
                    a(href='./' + chance.game.awayTeam.id)
                        img(src='../img/' + chance.game.awayTeam.abbreviation.toLowerCase() + '.png')
                td.date
                    a(href='../games/' + chance.game.id)= String(chance.game.startDateTime).substring(0, 24)
                td.team(style='background-color:' + chance.game.homeTeam.color1)
                    a(href='./' + chance.game.homeTeam.id)
                        img(src='../img/' + chance.game.homeTeam.abbreviation.toLowerCase() + '.png')
                +pcttd(Number(chance.playoffChanceWithHomeWin))
                +pcttd(Number(chance.divLeaderChanceWithHomeWin))
                +pcttd(Number(chance.confLeaderChanceWithHomeWin))
                +pcttd(Number(chance.makeDivChanceWithHomeWin))
                +pcttd(Number(chance.divWinnerChanceWithHomeWin))
                +pcttd(Number(chance.confWinnerChanceWithHomeWin))
                +pcttd(Number(chance.superBowlWinnerChanceWithHomeWin))
