html
    head
        title= 'Rektroth Analytics'
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        script(src='/js/chart.js', type='module')
        script(src='/js/sort.js')
    body
        header
            .header-inner
                h1
                    a(href='../teams')= 'Rektroth Analytics'
                .header-nav
                    a(href='../teams')= 'Teams'
                    a(href='../games')= 'Games'
        .main-wrapper
            block content
        footer
            p= 'Rektroth Analytics is in no away associated with the NFL.'
